<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/DataDrivenTestingHub">
        <classes>
            <class name="com.DataDrivenTesting.testcases.BankManagerLoginTest">
                <methods>
                    <include name="loginAsManager"/>
                </methods>
            </class>
            <class name="com.DataDrivenTesting.testcases.AddCustomerTest">
            <methods>
                <include name="addCustomer"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>